<!DOCTYPE html>
<html>
<head>
<script
src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js" type="text/javascript"></script>
<style>
    body {
      background-image: url("https://cdn5.vectorstock.com/i/1000x1000/42/84/green-christmas-background-with-decorations-vector-22674284.jpg");
      background-repeat: no-repeat;
      background-attachment: fixed;  
      background-size: cover;
    }
    .ee {

padding-top: 180px;
padding-left: 150px;
}
    </style>
</head>
<body ng-app="" style="color: blue;">
<div style="position: relative;left: 40%;" class="ee">
    <h4  style="color:success align=left">CHRISTMAS MEGA PLAY 2022 KARUNYA INSTITUE OF TECHNOLOGY AND SCIENCES</h4>
<h1>User Registration Form</h1>
<form name='myform'>
Name<span style="color: red;">*</span>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;
<input type='text' name="myName" ng-model="name" .required pattern="[a-z,A-Z]{1,}">
<span style="color: red;" ng-show="myform.myName.$error.required">Name is required</span>
<span style="color: red;" ng-show="myform.myName.$error.pattern">Name is invalid</span>
<br>
<br>
Register Number<span style="color: red;">*</span>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type='password' name="mypassword" ng- model="password" required pattern="(?=.*[a-z])(?=.*[A-Z]).{1,12}">
<span style="color: red;" ng-show="myform.mypassword.$error.required">Register Number is required</span>
<span style="color: red;" ng-show="myform.mypassword.$error.pattern">Register Number is invalid</span>
<br>
<br>
year of study<span style="color: red;">*</span>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;
<input type='number' name="myAge" ng-model="Age".required min="1" max="4">
<span style="color: red;" ng-show="myform.myAge.$error.required">year is required</span>
<span style="color: red;" ng-show="myform.myAge.$error.min">Age is invalid</span>
<span style="color: red;" ng-show="myform.myAge.$error.max">Age is invalid</span>
<br>
<br>
Department<span style="color: red;">*</span>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<select name="mystate" ng-model="State".required>
<option value="Andhra pradhesh">CSE</option>
<option value="Kerala">ECE</option>
<option value="Banglore">MECH</option>
<option value="Karnataka">AGRI</option>
<option value="tamilnadu">food process</option>
<option value="chennai">MBA</option>
</select>
<span style="color: red;" ng-show="myform.mystate.$error.required">Department required</span>
<br>
<br>
Mobile Number<span style="color: red;">*</span>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type='tel' name="mynumber" ng-model="Number".required pattern="[0-9]{10}">
<span style="color: red;" ng-show="myform.mynumber.$error.required">Mobile number is required</span>
<span style="color: red;" ng-show="myform.mynumber.$error.pattern">Mobile number is invalid</span>
<br>
<br>
Email<span style="color: red;">*</span>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;
<input type='email' name="myemail" ng-model="email".required>
<span style="color: red;" ng-show="myform.myemail.$error.required">Email is required</span>
<span style="color: red;" ng-show="myform.myemail.$error.email">Email is invalid</span>
<br>
<br>
Gender<span style="color: red;">*</span>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;
<input type='radio' name="mygender" ng-model="Gender" value="Male".required>
Male<input type='radio' name="mygender" ng-model="Gender"value="Female".required>Female
<span style="color: red;" ng-show="myform.mygender.$error.required">Gender is required</span>
<br>
<br>
Type of event<span style="color: red;">*</span>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;

<select name="mystate" ng-model="State".required>
<option value="Andhra pradhesh">Musician</option>
<option value="Kerala">Singing</option>
<option value="Karnatak">Chereography</option>
<option value="Karn">Acting</option>
<option value="Karna">Motivator</option>
<option value="Karnat">Volunteer</option>

</select>
<span style="color: red;" ng-show="myform.mystate.$error.required">Type of Event required</span>
<br>
<br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type="submit" ng-disabled="myform.$invalid">
</div>
</body>
</html>